[2016-11-28 17:48] philschatz opened #4 "I'm confused; is this nebuchadnezzar, neb, or nebu?"
It seems the repo is `nebuchadnezzar`, the package is `nebu` and the command is `neb`. Could/should they be one and the same?

[2016-11-29 20:39] pumazi commented on #4
- `nebuchadnezzar` is the product
- `neb` is the command
- `nebu` is the package (not something anyone but the developer sees)

[2016-11-29 20:39] pumazi commented on #4
There is no reason they need to be.

[2016-11-29 20:43] #4 closed

[2018-03-14 15:04] pumazi opened #9 "xml validation during publish takes a long time"
`col1174` takes about 1-2mins to validate the xml before the publish request is made. This is a rather small book, so that time should expect to increase for the average sized OpenStax text.

Its assumed that the content managers will be validating the xml in an editor. The server will also validate the xml. **Let's add the ability to disable xml validation in the publish command.** This will redu

[2018-03-14 15:18] philschatz commented on #9
What about caching the validation results instead? If the CNXML did not change (ie by calculating the checksum) then there is no need to validate, right?

[2018-03-15 00:31] pumazi opened #10 "How do I know what version I'm using?"
We need a way for Content Managers to determine what version of nebuchadnezzar they have installed without typing in some voodoo script to find the version. This is important when it comes time to diagnose issues. Because in those cases, we'll be asking, "Do you have the latest version?" And the followup question to that is "How do I know what version I'm using?"

[2018-03-15 00:36] pumazi commented on #10
A possible solution for this might be something like:
[code]
In the case of a newer version available, something like:
[code]
---
Behind the scenes this would be using ``pkg_resources`` to get the currently installed version. It would be using ``pip`` or ``setuptools`` code to lookup the latest available version.

[2018-03-15 00:44] pumazi opened #11 "How can we get it to fetch content from a server other than production?"
Kerwin said:

[2018-03-15 05:05] pumazi commented on #11
@kerwinso, with the fix provided in #11, this will work fine. But it won't work to 'publish' it via neb to dev.cnx.org because right now the content must exist in the publishing environment. The publishing process in press is limited to only allowing modification, no new content. This will be addressed in a later story.

[2018-03-15 14:21] #11 closed

[2018-03-16 18:26] reedstrm commented on #9
Cache invalidation! State tracking is such a problem …

[2018-03-16 18:28] philschatz commented on #9
huh? I don't see when we would need to "invalidate" the cache. The "cache" is just a set of checksums that are valid CNXML.

[2018-04-04 15:14] pumazi opened #16 "Am I using the latest version?"
This was spun off of #10:

This issue is to address the question: "Do I have the latest version?"

---

I'd suggest something like:

[code]

[2018-04-04 15:16] #10 closed

[2018-04-20 16:31] kerwinso commented on #16
Fixed by #15.

[2018-04-20 16:32] kerwinso commented on #16
Actually... telling which version you have, and if there's a later one, is 2 separate requests. This issue addresses the latter. Reopening.

[2018-04-20 16:57] kerwinso opened #18 "config-atom: fix filepath for linter-autocomplete-jing"
The path for `"linter-autocomplete-jing":` written to `config.cson` by `neb config-atom` is:

- `/usr/local/lib/python3.6/site-packages/cnxml/cnxml/xml/cnxml/schema/rng/0.7/cnxml-jing.rng`

This looked a little strange to me (_`cnxml/cnxml`_ ?) -- so I looked into it a little more.

On my machine, `sudo find / -name cnxml-jing.rng`  yields (among other things):

- `/usr/local/lib/python3.6/site-pa

[2018-04-20 17:04] pumazi commented on #18
Aha! ``pkg_resources.resource_filename(package_or_requirement, resource_name) method of pkg_resources.ResourceManager instance`` because it's package or requirement, where I was anticipating it finding the requirement rather than the package.

[2018-04-20 17:46] #18 closed

[2018-04-20 18:49] kerwinso commented on #18
This issue was autoclosed by merging the PR, but I verified that it does work.

Note that if you already had a `config.cson.bak`, that will get overwritten every time you run and confirm `neb config-atom`.

[2018-04-26 20:21] kerwinso opened #21 "`neb get` is broken on my machine"
My default is Python 2.7. But Bey is also running Python 2.7 and the same exact command works for her.

[code]

[2018-04-26 20:27] pumazi commented on #21
Do you have any environment variables set?

[2018-04-26 20:38] kerwinso opened #22 "neb cannot publish to dev"
Here's the traceback. Not sure if it was due to legacy-dev being down -- I thought Ross had fixed this before we started the test.

[code]

[2018-04-26 20:49] pumazi commented on #22
This is likely due to the configuration on dev reverting back to using 'gunicorn' rather than 'waitress'.

[2018-04-26 21:48] kerwinso commented on #21
Ah yes. I did have one that said `export XXX_HOST='devb.cnx.org'`. Commenting it out seems to have fixed this.

[2018-04-26 21:48] #21 closed

[2018-04-27 04:48] pumazi commented on #22
@kerwinso, things should be working now. I've manually fixed it for the moment and put in a PR to prevent it from reverting back again.

[2018-04-27 14:57] kerwinso commented on #22
Looks like I can publish to dev again.

[2018-04-27 14:57] #22 closed

[2018-04-27 15:08] kerwinso opened #23 "neb publish: all kinds of things are broken on dev"
The following command worked after @pumazi fixed #22:
`XXX_HOST="dev.cnx.org:6700" XXX_SCHEME=http neb publish col11740 "change agrarian to AGRARIAN"`

<details>

<summary>Click here to see full JSON response</summary>

[code]

</details>

**However**, all kinds of things look wrong after publishing.

## From the front page

1. Going to dev.cnx.org and clicking on U.S. History (https://dev.cnx.org

[2018-05-08 20:01] kerwinso opened #28 "neb get broken when complete zip is unavailable"
In Nebuchadnezzar 2.0.0, I tried this command: `$ neb get qa col11740`
and got the following error:

[code]

Content of `~/.config/nebuchadnezzar.ini` (unchanged):
[code]

Note that `neb get prod col11740` appears to be working, not sure if there's something up with the non-prod configurations.

[2018-05-08 20:45] kerwinso opened #29 "neb publish on qa returns 502 error"
Using Nebuchadnezzar 2.0.0:

[code]

[2018-05-08 20:48] kerwinso opened #30 "neb publish: add realtime messaging"
Enhancement request: when I run `neb publish`, there's a long time of just looking at nothing in Terminal and waiting. Would be nice to see some status updates or other messaging telling me what neb is doing while I'm waiting. (Or at least a magazine. ;)

cc @Bkblodget

[2018-05-08 20:51] pumazi commented on #28
Hint: Use the `-v` or `--verbose` option to see the urls where the requests are being made.

[2018-05-08 20:59] pumazi commented on #28
My proposed fix will be to check for an HTTP 204 response and report something readable to the user.

[2018-05-08 21:00] pumazi commented on #28
To verify my findings you can run ``neb --verbose get prod col11740``

[2018-05-08 21:03] pumazi commented on #30
Well, thank you for the request. This further supports my request for a transactional API for submitting a publication. 😂 We'll be able to report progress better with separate HTTP requests for each bit of content, rather than sending a blob.

[2018-05-08 21:06] pumazi commented on #29
Argh... I'll likely need to get your to replay this request after I've configured Sentry for the qa environment.

[2018-05-08 21:34] kerwinso commented on #30
You mentioned a `--verbose` option for `neb get`, is there one for `neb publish`?

[2018-05-08 22:04] kerwinso opened #31 "allow options at the end of the command"
Found this while testing verbosity. I'm used to adding my CLI options at the end of the command (not in the middle). So, this command currently doesn't work:

[code]

But, this does:
[code]

Please update code so both ways work.

cc @Bkblodget

[2018-05-08 22:09] kerwinso commented on #28
Your proposed fix sounds good! And, thanks for letting me know about the `-v` option. You're right about the cause of the bug. Staging and prod both have complete zips for col11740, and dev and qa do not. If you look at https://legacy-qa.cnx.org/content/col11740/latest/query_ptool, you'll see col11740 was never built on qa. When I try to do `neb --verbose get dev col11740`, I get the same error as

[2018-05-09 14:39] kerwinso commented on #29
Re-ran Rundeck cnx-deploy with Sentry integration on qa.cnx.org, tried another mass edit an d publish:
[code]
Still getting the same 502 error as above.

[2018-05-10 06:34] pumazi commented on #29
Adding `-p pipe_timeout=1200` as a start up argument to varnish on `dev`, see `/etc/default/varnish` works.

My understanding from [Understanding timeouts in varnish cache](https://info.varnish-software.com/blog/understanding-timeouts-varnish-cache) is that the `pipe_timeout` is 1min. This does line up about right with the 502 response.

[2018-05-10 13:29] kerwinso commented on #29
@pumazi What is the syntax for this command? I tried the following all to no avail:

[code]

[2018-05-10 13:36] kerwinso opened #35 "timestamp bug on webview after neb publish"
I did a `neb publish` to col11740 on qa. In the webview History, the date is showing wrong. It says `Apr 9, 2018` when it should say `May 9, 2018`.

I looked at the date on qa, here's what I got:

[code]

Here's what it looks like on webview:
https://qa.cnx.org/contents/p7ovuIkl@7.1:suXm_00r@14/Preface

![image](https://user-images.githubusercontent.com/11298165/39872210-e5821dce-542c-11e8-8462-2e

[2018-05-10 13:40] reedstrm commented on #35
Is that true for 4.1, 5.1, and 6.1 as well, or were those done on April 9?

[2018-05-10 13:48] reedstrm commented on #35
Ok, I checked on production - that's the correct timestamp for 4.1 (prod also has a 4.2) I'm guessing that 5.1, 6.1 and 7.1 are all neb/press tests on QA. In that case, I'm laying money on this being press copying the existing "revised" timestamp instead of updating it. Checking now.

[2018-05-10 14:06] reedstrm commented on #35
Probably should not deal with this in neb , leave it to press:
https://github.com/Connexions/cnx-press/issues/81

[2018-05-10 15:09] kerwinso opened #36 "incorrect error when omitting ENV argument"
Testing what would happen when running a neb command without specifying an environment (such as qa or prod). Here's what I got:

[code]

The argument that's missing is `ENV`, not `COL_ID`.

[2018-05-10 15:35] pumazi commented on #36
That looks correct. The arguments are sequential and the script is dumb about what they are.

[2018-05-10 15:37] kerwinso commented on #29
This appears to be fixed by adjusting varnish timeout on qa (https://github.com/Connexions/cnx-deploy/pull/595), I need to re-test after updating cnx-deploy on qa.

[2018-05-10 15:37] pumazi commented on #31
The ``--verbose`` option is an option on `neb` not on the subcommand.

[2018-05-10 15:38] pumazi commented on #31
``neb [neb-options] SUBCMD [subcmd-options] ...``

[2018-05-10 16:13] kerwinso commented on #29
Hmm, getting the 502 error again. The content changes I made published, but the images are broken now and the chapter numbering is also off.

[2018-05-10 16:17] kerwinso opened #37 "neb publish throws off chapter numbering in collection"
On qa, I tried a `neb publish` to Psychology. Afterwards I noticed that the Preface is now numbered chapter 1, which throws off the chapter numbering for the rest of the collection.

Before (correct): https://qa.cnx.org/contents/Sr8Ev5Og@5.101
After (wrong): https://qa.cnx.org/contents/Sr8Ev5Og@6.1:F_mjYFfh@16/Preface

![image](https://user-images.githubusercontent.com/11298165/39880423-5c71f3f8-5

[2018-05-10 16:55] kerwinso opened #38 "neb publish: list of 'books this page is in' has changed"
## Summary
A single page view of webview is supposed to list all the books that that page is in. This functionality may have been broken by `neb publish`. This list only returns the current book, but none of the derived copies. (Possibly related to https://trello.com/c/yA5NjKwc/489-ignore-republishing-in-press.)

## Comparison
- on the left: Prod (correct), https://cnx.org/contents/-xs7Ve8V@6/Part

[2018-05-10 17:56] kerwinso commented on #38
@Bkblodget says:

[2018-05-10 17:59] #38 closed

[2018-05-10 20:08] kerwinso opened #40 "neb publish: images are still broken"
_(I know this bug probably belongs in cnx-press, but filing in this repo to keep together with the other bugs.)
Related to this card: https://trello.com/c/lRI5qfhC/488-fix-resource-links-in-press_

I re-ran Rundeck on qa with `pull_deploy=true`. Then published a simple change in Biology:
[code]
It looked to be successful -- I got the JSON + `Great work!!!` confirmation. But the images are still br

[2018-05-10 20:10] kerwinso commented on #37
Section numbering is also off, I'm guessing due to the same cause:

![image](https://user-images.githubusercontent.com/11298165/39891834-4f815bb8-5464-11e8-9229-b331b3975c62.png)

[2018-05-10 20:16] kerwinso opened #41 "neb publish un-bakes a previously baked collection"
After running `$ neb -v publish qa col11448 'aneuploid to ANEUPLOID: m44480 m44483'`, Biology (which was previously baked on qa) is no longer baked.

https://qa.cnx.org/contents/GFy_h8cu@12.1:rZudN6XP@3/Introduction:
![image](https://user-images.githubusercontent.com/11298165/39891992-c37791cc-5464-11e8-8237-f5ad93c0828f.png)

[2018-05-10 20:27] pumazi commented on #37
I also see that the minor version was not reset to 0 on the book. 😖

[2018-05-10 20:35] kerwinso commented on #37
@pumazi I just verified with Ross that we do not use 0 in the minor version, it always starts with 1. (Apparently for books, we count like humans and not computers. 😉 )

[2018-05-10 20:45] pumazi commented on #37
So I meant 1, not 0. 😛

[2018-05-10 21:39] reedstrm commented on #41
https://github.com/Connexions/cnx-press/issues/86

[2018-05-10 21:56] kerwinso commented on #35
Re-opening so this can be verified.

[2018-05-11 15:24] kerwinso opened #42 "neb publish on qa returns 404 error"
Updated Nebuchadnezzar to 3.0.0, and re-Randeck to qa this morning. I think this bug may be related to the recent API changes here: https://github.com/Connexions/cnx-press/pull/82.

See below for error returned in Terminal. This is a valid col ID. The changes did not get published to Webview.

[code]

[2018-05-11 19:18] pumazi commented on #42
I did a redeploy to dev and got the same results. I was able to see that press was not restarted during the deploy, so there is a bug in cnx-deploy when deploying code only changes, not with configuration changes.
A manual restart of press on dev allowed the request to go through. I suggest trying to restart press on qa, then try again. restart via `sudo supervisorctl restart press:`

[2018-05-11 20:37] kerwinso commented on #42
A manual restart of press on qa did work, but obviously not preferable as we continue to push and test bug fixes.
Will leave this issue open for now to track the related cnx-deploy issue: https://github.com/Connexions/cnx-deploy/issues/596

[2018-05-15 16:25] pumazi commented on #36
I don't see the bug here. Closing, but feel free to reopen with additional information.

[2018-05-15 16:25] #36 closed

[2018-05-15 16:29] pumazi commented on #40
`<img src="Figure_01_00_00.jpg" data-media-type="image/jpg" alt="Photo depicts Earth from space." width="700"/>` the reference rewrite either didn't run or missed.

[2018-05-16 15:05] kerwinso commented on #23
I think we can close this. The problems are being handled in separate issues. For instance, broken images in #40.

[2018-05-16 15:05] #23 closed

[2018-05-16 17:32] Bkblodget opened #44 "neb get on qa/staging not downloading the latest complete zip"
When I ran neb get for [col11562](https://legacy-qa.cnx.org/content/col11562/latest/), initially, it downloaded the most recent version of the xml. I edited the collection and used neb publish to push the changes back to qa.

I then used neb get again to see if I would retrieve the updated content xml - this failed.

After manually enqueueing the collection, I ran neb get again but still did not g

[2018-05-16 17:54] pumazi commented on #44
To see if I understand correctly...
1. `neb get qa col11562` (legacy version 1.18 was downloaded)
1. edits were made...
1. `neb publish qa col11562 "changed data sets to magic sets"`, which created legacy version 1.19
1. `neb get qa col11562` fails with a traceback and something about `KeyError: 'content-length'` (see also #28)
1. manually enqueued collection, which created the completezip for thi

[2018-05-16 18:28] Bkblodget commented on #44
Correct and much clearer than how I wrote it out :)

[2018-05-16 18:35] pumazi commented on #44
How do you know you are getting legacy version 1.18 instead of 1.19?

[2018-05-16 18:44] pumazi commented on #44
(dev debug note) 🤔 Is it possible that this was manually enqueued before legacy version 1.19 was finalized as 'latest'? Maybe the code used to build the completezip uses the `latest_modules` table?

[2018-05-16 18:44] Bkblodget commented on #44
When I open the collection in atom the version is 1.18 & I don't see any of my edits that were previously published.

When I manually enqueue the collection via URL command (latest/enqueue), it returns that it is building collxml, colprint & colcomplete. I'm unsure if the collxml is needed to build a PDF though.

[2018-05-16 18:57] pumazi commented on #44
(dev debug note) The collection is correctly versioned in the database. Though, I'm not even sure the completezip creation procedure even uses the in-database copy of the 'collection.xml'.

I'll need to look into how the completezip is created. If I could ignore this I would, since we are going to be replacing this part of the system in the very near future anyhow.

[2018-05-16 19:04] pumazi commented on #37
I'm going to guess this is resolved since this is either a duplicate of #41 or very closely related.

[2018-05-16 19:46] kerwinso commented on #37
Re-opening to verify.

[2018-05-16 19:48] kerwinso commented on #41
Re-opening to verify.

[2018-05-16 19:48] kerwinso commented on #28
Re-opening to verify.

[2018-05-16 19:50] kerwinso commented on #40
Re-opening to verify.

[2018-05-16 20:13] kerwinso commented on #28
Verified fixed.
[code]

[2018-05-16 20:13] #28 closed

[2018-05-16 22:04] kerwinso opened #46 "neb get on qa: BadZipFile error"
On qa I was running out of good collections to test, so I enqueued col11760 (Chemistry) for the very first time so I could `neb get` the complete zip.

Here's what the `query_ptool` looked like at the time I found the error (which will be described more below). I mention this in case it's relevant. The PDF had not finished generating, but the complete zip did.:

![image](https://user-images.github

[2018-05-16 22:04] kerwinso commented on #46
will try this again after PDF is done building

[2018-05-16 22:35] pumazi commented on #46
Based on your output, it looks like it may have dropped out of downloading at 86%. That would make it a legitimately corrupt zip file.

I'll try a download in the background and see what I come up with.

[2018-05-16 23:12] pumazi commented on #46
My download also stopped exactly at 86%, so I'd reason to believe there is something wrong with the file.

[2018-05-16 23:26] pumazi commented on #46
[code]

[2018-05-16 23:27] pumazi commented on #46
I'd suggest you try removing the file from the filesystem and re-enqueue. Maybe it'll work the second time around.

[2018-05-16 23:28] pumazi commented on #44
Are you saying that the download does eventually contain version 1.20?

[2018-05-16 23:35] Bkblodget commented on #44
It eventually included 1.19. Whereas before it would only download 1.18. Since then I have published a new version, 1.20...but neb get doesn't download it _yet_. I'm guessing that if I wait a few hours and try again it will download 1.20. Neb get just seems to be lagging quite a bit.

[2018-05-16 23:37] pumazi commented on #44
I get a `neb get qa col11562` and got the `1.19` version. I then looked on the server at the file. The complete zip there does have the correct version in it. So we must be running into cache.

[2018-05-16 23:45] pumazi commented on #44
(dev notes)
I'm a bit conflicted on how to go about solving this...

Simple fix might be to configure varnish to except 'PURGE' or 'BAN' requests, which is something Press would make after a publication. This could also be of value elsewhere in the system, so it's not wasted exactly.

The other solution, which needs to happen eventually, is to have Press serve the contents required to build comple

[2018-05-17 13:49] kerwinso commented on #46
I also want to download the complete zip another way and check if the file is indeed corrupted. Strange that this happened twice in a row with 2 different collections.

[2018-05-17 16:16] kerwinso commented on #40
Re-published Principles of Econ col11613, this appears to be fixed.

![image](https://user-images.githubusercontent.com/11298165/40190135-abf1abfa-59c3-11e8-84f1-8e5c19f217c0.png)

[2018-05-17 16:16] #40 closed

[2018-05-17 16:17] kerwinso commented on #37
Re-published Principles of Econ col11613, this appears to be fixed.

[2018-05-18 15:04] kerwinso commented on #29
Tested with Algebra and Trigonometry, one of our largest collections:
`neb -v publish qa col11758 'change vector to raster, 4 files: collxml, m49402, m49412, m49441'`

Everything looks OK and the publish was much faster than I expected.

[2018-05-18 15:04] #29 closed

[2018-05-21 22:17] kerwinso commented on #44
@pumazi I re-deployed to qa and restarted press. I tested this by doing the following:

1. `neb get qa col11407`
2.  making an edit to col11407 and publishing. This bumped the version from 7.23 to 8.1.
3. doing `neb get qa col11407` again. This is still getting the old version. It should be trying to get the latest version (8.1).

[code]

So this test appears to be failing. cc @Bkblodget

[2018-05-21 22:32] pumazi commented on #44
@kerwinso Are you sure baking finished before you ran this command?

Based on the output, the legacy software--and I'd think the database as well--believe the 'latest' version to be `1.7`.

[2018-05-21 23:40] pumazi commented on #44
Aha! 😆 The url we are using to get the 'latest' version is a cached route. Figures.

So, I'm back to needing to do what I originally intended:

[2018-05-22 14:34] kerwinso commented on #44
@pumazi Baking may not have finished before I ran the command.
After your fix, will we need to wait until baking is finished before it’s considered ‘latest’?

[2018-05-22 15:10] kerwinso commented on #46
Still getting the same error on the same collection after redeploying to qa.

[2018-05-22 15:36] pumazi commented on #46
I'm currently getting info about it not existing.

[code]

[2018-05-22 17:56] kerwinso commented on #46
This is a legacy issue, not neb or press.

[2018-05-22 17:59] kerwinso opened #48 "update usage error messaging for incorrectly formed command"
I did the following deliberate test:
[code]

Should the `Usage:` line in the error messaging say this instead?
`neb [OPTIONS] publish ENV CONTENT_DIR PUBLICATION_MESSAGE`

[2018-05-22 21:12] pumazi commented on #48
(note) https://github.com/pallets/click/issues/108#issuecomment-280489786

[2018-05-23 15:14] kerwinso commented on #46
Also to clarify, I haven't run into this issue running `neb get` on staging or prod yet.

[2018-05-23 15:23] #42 closed, assigned to kerwinso

[2018-05-23 16:20] reedstrm commented on #44
the path `/content/<colid>/latest/getVersion` is now set to bypass varnish, on QA. Will be in a future PR to cnx-deploy for production release as well.

[2018-05-31 19:28] kerwinso opened #49 "neb get specific version: check for order of arguments"
Neb allows me to execute `neb -v get staging 1.4 col11629` . This then sends a request to `https://legacy-staging.cnx.org/content/1.4/col11629/complete` which is an invalid URL. It should be `https://legacy-staging.cnx.org/content/col11629/1.4/complete` (I had the arguments reversed).

Neb should check that the colID comes before the version number before trying to execute the command.

[2018-05-31 20:15] kerwinso opened #50 "neb publish on staging gives mysterious 504 error"
@Bkblodget got the following error from neb -- even though the content did get successfully published on staging (https://staging.cnx.org/contents/LnN76Opl@19.1:_45u6IpQ@10/Introduction)

[code]

Also, @reedstrm has requested more debug output for error cases. :) (might be included with `-v` next time)

[2018-05-31 20:20] reedstrm commented on #50
Hmm, now I'm thinking it may be the enqueue  or purge is causing the error - those are both post-publish events. Asked the tester for another run, with "verbose"

[2018-05-31 21:27] kerwinso commented on #50
I got the same 504 error in neb when trying to publish 1.21, even though the changes took in webview: https://staging.cnx.org/contents/LnN76Opl@21.1:_45u6IpQ@12/Introduction

@reedstrm Does this have anything to do with the completezip not rebuilding after neb publish?

[2018-05-31 21:51] kerwinso commented on #50
Tried again, this time editing version 1.13 locally and then publishing it as 1.22. Same result: webview published (https://staging.cnx.org/contents/LnN76Opl@22.1:223y7l8h@14/Divergent-Planetary-Evolution), neb reports a 504 and a RunTimeError as above.

I wonder if it's something specific to this collection? I haven't seen this in any other collection.

[2018-06-01 16:08] kerwinso commented on #44
Apparently we have to visit legacy /latest first before neb get knows which version is latest. Ross is addressing this with https://github.com/Connexions/cnx-press/pull/108.

[2018-06-01 19:03] Bkblodget commented on #50
I was able to replicate this bug on a different collection (col11740 U.S. History):

[code]

**However, the changes did actually publish to staging:**
<img width="940" alt="screen shot 2018-06-01 at 2 00 07 pm" src="https://user-images.githubusercontent.com/11299035/40858525-2398f9ba-65a4-11e8-81c0-bc6f83209bf8.png">

[2018-06-01 19:10] Bkblodget commented on #44
I specified the version number in my neb get command and got the following error, **even though the collection zip for version 1.16 is available (after I manually enqueued):**
[code]
**Screenshot of query ptool for col11995 v1.16:**

<img width="672" alt="screen shot 2018-06-01 at 12 48 39 pm" src="https://user-images.githubusercontent.com/11299035/40858864-5883a746-65a5-11e8-94da-915fd38d4db3.png

[2018-06-01 19:40] kerwinso commented on #50
During sprint demo no less!

[2018-06-01 19:41] kerwinso commented on #50
Possibly addressed by https://github.com/Connexions/cnx-press/pull/110

[2018-06-04 20:25] Bkblodget opened #51 "Neb not acknowledging completezip when it is available"
After successfully enqueue col11629, `neb get` returned the below error:
[code]

***Here you can see that the collection does have a complete zip available***

![screen shot 2018-06-04 at 3 13 59 pm](https://user-images.githubusercontent.com/11299035/40939804-6411062c-680b-11e8-971a-0cde8d991838.png)

[2018-06-04 20:35] kerwinso commented on #51
I verified that the completezip mentioned here is in fact available, by downloading it in Chrome via https://legacy-qa.cnx.org/content/col11629/latest/complete and checking the downloaded files. So, it may be an issue with how `neb get` is talking to legacy.

[2018-06-08 18:32] kerwinso commented on #51
I re-ran both commands above on qa (i.e., with and without a version number), they both seem to work OK.

[code]

Verified the correct version number in `collection.xml` and the proper expected file size with `du -sh col11629`.

[2018-06-08 18:32] #51 closed

[2018-06-08 19:03] Bkblodget commented on #50
Still receiving this error, even though the content did publish/bake and changes reflect on webview:

[code]

[2018-06-08 19:09] kerwinso commented on #50
I'm getting the same neb error on the same collection (col11992) on qa.cnx.org after the latest deployment, although the collection published properly in webview (https://qa.cnx.org/contents/2e737be8-ea65-48c3-aa0a-9f35b4c6a966@15.1). I wonder if there's something specific to this collection (Astronomy) that's causing the error.

[2018-06-08 19:47] Bkblodget commented on #44
I was able to verify this with col11629 on QA as well (after manually enqueueing). Verified with both version specific and non-specific commands:

[code]

[2018-06-08 21:35] kerwinso commented on #44
This is still a problem on staging after running cnx-deploy 2.19.1. The latest version of col11629 on staging is 1.6: https://legacy-staging.cnx.org/content/col11629/latest/content_info#cnx_history_header

And, there is a completezip available for that version: https://legacy-staging.cnx.org/content/col11629/latest/query_ptool (also downloaded via Chrome from this URL and verified the contents: ht

[2018-06-11 15:14] kerwinso commented on #44
Hmm, `neb -v get staging col11629` is working now. Not sure what changed in the last few days, need to keep an eye on this.

[2018-06-11 15:58] kerwinso opened #54 "require a version number for neb get"
`neb get` should require a version number please :)
cc @Bkblodget

[2018-06-11 19:59] kerwinso commented on #44
This works properly for me now on staging. Did a neb publish to Calculus vol. 2 (col11965) which incremented it from 1.2 to 1.3.
`neb -v get staging col11965` downloads 1.3 as expected.

We need to test this again after the latest neb updates -- my understanding is the new client will require either the version number or the string 'latest' as an argument.

[2018-06-11 20:00] kerwinso commented on #50
@reedstrm Does this have anything to do with varnish?

[2018-06-13 19:41] kerwinso commented on #50
btw, with cnx-deploy 2.19.2 on staging, every single `neb publish` job I've tried is now returning this error.

[2018-06-13 20:29] kerwinso commented on #50
Closing this in favor of https://github.com/Connexions/cnx-press/issues/114 (correct repo)

[2018-06-13 20:29] #50 closed

[2018-06-25 04:42] pumazi commented on #9
Closed as part of #59

[2018-06-25 04:42] #9 closed

[2018-06-25 04:44] pumazi commented on #31
@kerwinso, I believe this was addressed as part of #53. Can you verify and close?

[2018-06-26 05:49] pumazi opened #61 "Remove resources from litezip"
As part of Connexions/cnx-press#90, we grandfather over all existing resources during a publication. This means we do not require the user to send these resources (again) during a publication. Let's remove them during the completezip to litezip process (part of the `get` command).

[2018-06-26 15:55] kerwinso commented on #31
Yep, it works. Coolio

[code]

[2018-06-26 15:55] #31 closed

[2018-06-26 21:35] pumazi commented on #61
There is no way to not ask for them at this time. We download the completezip, which has them in it already. What we're saying is that they should be removed. The entry point for this would be just after https://github.com/Connexions/nebuchadnezzar/blob/master/nebu/cli/get.py#L122

[2018-06-27 04:03] pumazi commented on #54
Implemented in #55

[2018-06-27 04:03] #54 closed

[2018-06-27 04:05] pumazi opened #62 "ConnectionError: Broken pipe raised during publish"
Originally reported by @kerwinso.

[code]

[2018-06-27 04:08] pumazi commented on #62
This issue would seem to be related to requests/requests#2422

[2018-06-27 04:38] pumazi commented on #62
I haven't been able to get anywhere with `httpie` either...

[code]

[2018-06-27 04:41] pumazi commented on #62
@dtwilliamson @scb6 @DarkPrinceFrost, I think adjustments to the iptables config in cnx-deploy may have created a blockage that isn't allowing our requests to go through. Any thoughts?

[2018-06-27 11:58] scb6 commented on #62
I think this is very possible, but I am not familiar with the `nebuchadnezzer` tool.  If you can explain to me what ports it is using on which IPs, I can open them in the `iptables`.  @pumazi

[2018-06-27 13:40] pumazi commented on #62
`haproxy -> varnish -> press` The value of `default_press_base_port` in cnx-deploy is the start of the port range for press instances.

You can use the following to test. The zip file can be anything for the purposes of this test. The expected response will then be a 400 containing something about `'The given file is not a valid zip formatted file.'`. At that point, you've gotten through and have

[2018-06-27 14:42] scb6 commented on #62
@pumazi you now have `sudo` access to staging servers

[2018-06-27 14:53] Bkblodget opened #63 "Batch: Validating mdml component of collxml and cnxml so that derived copies can be published with Neb"
Ross has code that will validate collxmls that have derived copies. We've lost the source for mdml dev.

Work to rebuild tarball needs to happen. Ross estimates half a day here.

We may not need to worry about URL in the content--they should have version numbers in them. There may be more work to update places where we generate collxml and cnxml for referencing the mdml.

[2018-06-27 14:56] Bkblodget commented on #63
additional information - Neb returns the below error when a user attempts to publish a derived copy:

https://openstax.slack.com/files/U0FND6C2X/FBEFXK7J9/neb_publish_error.txt

[2018-06-27 16:01] pumazi commented on #62
Looks like the press instance wasn't even running since Jun 21. I was able to see this thanks to @scb6 bestowing `sudo` privileges to me. 👍

[2018-06-27 16:04] pumazi commented on #62
I'm guessing the service wasn't running because prior to that a deploy without press included was still active. So it's likely somebody shut off the service while other non-press testing was happening.

[2018-06-27 16:09] pumazi commented on #62
@kerwinso, you should be able to proceed with testing. I got a 504 on my attempt to publish `col11760`. So I think things are back to the ugly norm of getting a 504.

[2018-06-27 16:10] kerwinso commented on #62
@pumazi OK thanks.

[2018-06-27 16:17] pumazi commented on #62
My publish did finally go through... https://archive-staging.cnx.org/contents/85abf193-2bd2-4908-8563-90b8a7ac8df6@11.1.json

[2018-06-27 16:28] scb6 commented on #62
Excellent new @pumazi.  I will comment your `sudo` privilege this afternoon.  Please make sure to log out of all staging servers.

[2018-06-28 19:16] pumazi opened #66 "FileNotFoundError on first run"
On the first run users experience the following error. (reported by @Bkblodget while instruction interns)

[code]

[2018-06-28 19:17] pumazi commented on #66
I believe this happens because the `~/.config` directory does not exist.

[2018-06-28 20:15] #66 closed

[2018-06-29 14:50] tomjw64 commented on #61
@pumazi Does any action need to be taken on this issue before it is closed?

[2018-06-29 15:18] kerwinso commented on #61
@tomjw64 @pumazi This should be tested before closing, but I need a test plan. You can either post it here or in the Trello card (https://trello.com/c/LEIWSBoo/516-remove-resources-from-litezip). Then assign this github issue to me.

[2018-06-29 19:29] kerwinso opened #69 "module metadata <title> is not publishing"
We tested updating the `<title>` tag inside of a module, e.g. `col11749/m49967/index.cnxml`. This is what neb returns:

[code]

However, this error is unhelpful. It doesn't tell the user that the publish didn't actually go through, or why it didn't go through. (BTW this is not the same as returning an invalid CNXML error, because changing the `<title>` of `index.cnxml` is actually valid markup.)

[2018-06-29 19:40] kerwinso commented on #69
Worse yet, neb publish updates the History in both [webview](https://staging.cnx.org/contents/p7ovuIkl@10.1:gMXC1GEM@9/Introduction) and [legacy](https://legacy-staging.cnx.org/content/col11740/latest/content_info#cnx_history_header) so it looks like the change did take (even though it didn't):

![image](https://user-images.githubusercontent.com/11298165/42111470-356a3296-7baa-11e8-8457-6a7d1fce95

[2018-06-29 19:49] pumazi commented on #69
This is a Press issue, but no need to move it.

[2018-06-29 19:51] pumazi commented on #69
Aha! You changed the title of the module not the title used in the Collection. Try viewing the module separate from the collection. I'd bet your title change will have taken.

If you'd like to change the title of the module within the collection, that needs to be done in the collxml (`collection.xml`)

[2018-06-29 20:01] pumazi commented on #69
https://archive-staging.cnx.org/contents/80c5c2d4-610c-4164-a506-589f19a936f1@9.json does show `title": "Introduction"`. But then I also see `<div data-type=\"document-title\">Introduction INTRODUCTION!</div>` in the content.

O... I see `<title>` vs `<md:title>`. In the content you use `<title>`. You can see this at https://staging.cnx.org/resources/366ffe788259cfae59f930c7cf8b174d97dd5ad5/index.

[2018-06-29 20:03] pumazi commented on #69
🤔 Why are their two title tags?

Anyway... I can tell you that Press ignores `<title>` and uses `<md:title>`. Is this correct? IDK

[2018-06-29 20:05] kerwinso commented on #69
@pumazi Testing this now.
@Bkblodget can hopefully answer which of the tags should be respected by press. I didn't know until now that there are 2 title tags.

[2018-06-29 20:21] kerwinso commented on #69
Verified that only `<md:title>` is used by press, and `<title>` in `index.cnxml` is ignored: https://staging.cnx.org/contents/gMXC1GEM@11/Introduction-INTRODUCTION

[2018-07-05 19:16] tomjw64 commented on #61
From Michael on Trello:

[2018-07-05 20:10] kerwinso opened #70 "remove prod target from neb publish config"
We released press to prod servers on 7/5/18; however, it still causes an obscure bug with legacy (https://trello.com/c/xTJpyys8/547-latest-latest-latest-bug-reverse-info-flow-of-collections-into-zodb).

We should update the neb client to prevent CMs from publishing to the prod environment (with appropriate messaging).

@pumazi Is it possible to retain `neb get prod` while disallowing `neb publish

[2018-07-05 20:49] kerwinso commented on #61
@tomjw64 So does that mean the module directories of the extracted litezip won't have, for instance, image files in them anymore?

[2018-07-05 21:01] kerwinso commented on #16
[code]

The first 3 test steps above pass, but `pip3 install nebuchadnezzar` with no version number specified does not update the version.

However, the specific feature we are testing for (neb should tell me which version number is the latest available) passes.

[2018-07-06 15:10] #16 closed

[2018-07-06 15:52] tomjw64 commented on #61
@kerwinso That's correct.

[2018-07-06 17:17] kerwinso commented on #61
This passes testing, see https://trello.com/c/LEIWSBoo/516-remove-resources-from-litezip for more deets.

[2018-07-06 17:17] #61 closed

[2018-07-09 15:29] kerwinso commented on #62
Monitoring for press requested here: https://trello.com/c/xoAZEiE0/146-add-press-to-monitoring

[2018-07-09 15:29] #62 closed

[2018-07-23 19:35] kerwinso opened #71 "neb publish --skip-validation throws a 500 error"
Found while testing #59.
(https://trello.com/c/iwGpRm00/550-add-a-skip-validation-option-flag-to-the-publish-command)

[code]

https://sentry.cnx.org/openstax/press/issues/433/

Not sure if this is a neb issue or a staging issue. Even weirder: looks like the update got pushed through to webview: https://staging.cnx.org/contents/r-QzKsl_@8.1:_97x1rAv@3/Introduction-to-Sociology

And, neb threw a 50

[2018-08-01 16:35] brittweinstein opened #73 "Incorrect publisher displayed when publishing with press"
![Screen_Shot_2018-07-20_at_2.41.44_PM.png](https://images.zenhubusercontent.com/5a01faba8a75884b90866af7/e446310e-26ac-4d82-93f0-f62920b70d1a)After neb publish the publisher name displayed under the History tab only says "OpenStax" when it should display book title account.

[2018-08-01 16:35] brittweinstein commented on #73
Bey will update the documentation per Michael's comment below.

If we decide to make changes to how this works, it will be part of permissions/authentication stories.

 Per Michael: Not exactly incorrect... XXX_PUBLISHER=OtherUserName neb publish ...

[2018-08-06 18:57] Bkblodget commented on #63
Successfully published col11776 (contains derived modules but collection is not derived).

After `neb publish` the collxml and complete zip did not automatically enqueue for version 1.35

[2018-08-06 19:37] Bkblodget commented on #63
Successfully published col12170 (contains derived modules but collection is not derived). Changed content inside of the derived modules.

After neb publish the collxml and complete zip did not automatically enqueue for version 1.9

[2018-08-06 19:51] pumazi commented on #63
Great! This issue is partially resolved and you are experiencing a deploy issue with the enqueuing. I'll look into that. Feel free to start a chat thread to monitor that issue or another github issue about it.

[2018-08-07 16:01] kerwinso commented on #71
Bey was running into 500 errors without using --skip-validation.

[2018-08-07 16:01] pumazi commented on #71
This seemed to be `md:derived-from` related.

[2018-08-10 16:52] Bkblodget commented on #63
**passed**

Initial neb get/publish col11776 (derived modules, not derived collection)
 - all metadata still intact (except summary & keywords which were not visible in previous version - known bug)
 - md:derived tags are still in index.xml
 - changes to modules were reflected on webview
 - zip was automatically enqueued

Second neb get/publish (retreiving v 1.35 & publishing 1.36 - no change to c

[2018-08-13 14:17] #63 closed

[2018-08-14 15:35] #71 closed

[2018-08-14 15:36] brittweinstein commented on #71
This was not verified as a fix. Bey was finding 500 errors without using skip validation and it went way.

[2018-08-27 17:01] brittweinstein opened #77 "As a neb end user, I want to be able to update Nebuchadnezzar easily"
##Story

As a neb end user, I want to be able to update Nebuchadnezzar easily, so that I have the latest features and bug fixes, so that ...

##Ideas for implementation:

1. Add a role to the installation script: "update nebuchadnezzar" or "update"
1. some other way to update neb without using the installation script

[2018-08-27 17:02] #77 closed

[2018-09-14 18:38] Bkblodget commented on #73
This is no longer an issue. With Authentication the publisher displayed will be "OpenStax".

[2018-09-14 18:38] #73 closed

[2018-09-14 18:53] Bkblodget opened #79 "Add minor version number to collection directory title"
As a CM, I want to be able to verify what minor version of a collection I have downloaded with neb, so that I am confident that I am beginning my work on the most up-to-date content.

##### Rationale
Now that publishes with press only revs the minor version of the collection, there is a need for users to verify the minor version so that they are not working on old content.

##### Acceptance Criter

[2018-09-14 19:57] reedstrm commented on #79
Example folder name would be: `col12012_1.94.1` then `1.94.2`, etc.

[2018-09-21 17:17] reedstrm commented on #70
The referenced bug was fixed, this stop-gap is no longer needed. Closing.

[2018-09-21 17:17] #70 closed

[2018-09-21 19:13] reedstrm commented on #44
This looks to be "solved" as well as it can be, until we replace how we fetch content (which will be soon) Going to close.

[2018-09-21 19:13] #44 closed

[2018-09-26 21:59] BryanEliDimas commented on #79
## Note
*I discovered another scenario we had not accounted for previously which is*—we currently allow an option to specify the collection directory name... so, in this case, should I append the collection version as well? Or, as @reedstrm suggested, we treat it as a "Pro tool" and we *do not* append the version because it would "break" the expectation that the output directory will be named what

[2018-09-28 16:01] BryanEliDimas opened #84 "Preemptively check credentials"
On Publish, check auth credentials against before doing anything else, by pinging the `auth-ping` route in cnx-press.

[2018-10-02 16:02] #79 closed

[2018-10-15 17:11] reedstrm opened #87 "Provide a better book layout for content managers"
Part of the philosophy behind the batch/protools work is to try to leverage existing technologies and tools for editing, so that we (openstax) do not have to write a be-spoke editor that covers every possible user story. In particular, batch edit is designed around using the atom editor against a local filesystem tree representation of the book. The initial representation chosen was an unzipped co

[2018-10-31 18:53] reedstrm opened #90 "Batch Tree Collection numbering for sub-collection numbering"
@Bkblodget commented on [Wed Oct 31 2018](https://github.com/Connexions/cnx-press/issues/251)

## Overview
The tree collection is assigning "01" to all introduction modules within a sub-collection (chapter). This throws off the module numbering when comparing to webview because the TOC in webview does **not** assign numbering to introduction modules.
## PRs
What PRs need to be merged to complete t

[2018-11-06 16:38] #87 closed

[2018-11-08 19:21] m1yag1 opened #92 "non-relative path causes an error when using neb get --output-dir option for neb version 7.1.0"
When we conduct functional tests to neb in openstax/cnx-automation we create a temp directory and use `neb get` to download a collection. With neb 7.1.0 this fails because of changes in this [commit](https://github.com/Connexions/nebuchadnezzar/commit/5e2828ae03db6017e2ac0eefb8cabfea22a8dc2c#diff-39b785efb6271fc72e470e75ae7750a3R90)

Traceback:
[code]

The slack conversation about this issue is pa

[2018-11-09 15:29] Bkblodget opened #94 "Neb doesn't send any modules that haven't changed. [Priority 1]"
## Description ##
Neb should only send content files (collxml, index.cnxml, images) that have been edited to Press. This is priority #1 for the Only Publish Changed Content epic.

## Technical Notes ##
- This involves looking at the sha for the local file(s), querying remote for the published sha-s, and then comparing the two.

## Acceptance Criteria ##
After making edits to only a portion of the

[2018-11-09 15:46] Bkblodget opened #95 "Prompt threshold for large amounts of changes. [Priority 4]"
## Description ##
Neb should prompt user with a message when the amount of edits exceeds the threshold (threshold TBD). This is priority #3 on Only Publishing Changes epic.

## Technical Notes ##
-
-

## Acceptance Criteria ##
After making edits to a large amount of content, `neb publish` should prompt the user with a message displaying the number of files being edited (or a percentage instead - T

[2018-11-20 16:36] openstaxalina commented on #84
Bey will test this when she gets back (the week of 12/3)

[2018-11-29 19:41] omehes opened #98 "Neb publish error messages are too verbose/confusing"
Run neb publish ... to publish a collection using incorrect credentials or when neb is broken, so you get error messages.
Note that the error messages are not "pretty" and too verbose and confusing.

Discussed with @reedstrm , who recommends cleaning up the error messaging for neb.

Examples of error messages:

1. when incorrect or insufficient credentials are used:
[code]

2. when problems with n

[2018-11-30 03:03] m1yag1 commented on #98
Based on the tracebacks here I'm seeing you are using Python 3.7 @omehes. The .tox file indicates that the unit tests are running for Python 3.5. I don't know if that's the issue but you should try to use the version of Python that is being used in the unit tests.

https://github.com/Connexions/nebuchadnezzar/blob/master/tox.ini#L2

Additionally, the code you are pasting is a traceback. They usual

[2018-12-03 22:03] omehes opened #99 "No clear error message when preemptively checking credentials"
Steps:
1. Try to publish with neb something with errors in a module of the collection AND using bad credentials (existing user but incorrect passwd)

Result: The following message appears:
[code]

Discussed with Brian and Bey.

[2018-12-03 22:39] omehes commented on #84
Tested on staging and newly deployed qa. Only tracebacks are shown in both environs.
Created issue: https://github.com/Connexions/nebuchadnezzar/issues/99

[2018-12-04 23:12] omehes opened #102 "The existing 'created date' changes in collection.xml after neb publish/get"
Steps:
1. neb get a collection
2. open the collection.xml and note the date in the <md:created> tag
3. in Atom, change that date and save
4. neb publish that collection
5. once it is successfully published, neb get it again
Expected Result:
in the collection.xml the <md:created> date should remain the same original creation date (noted down in step 2)
Actual:
The date shown is the new changed date

[2018-12-04 23:18] omehes commented on #102
Moved this issue to cnx-press repo. Closing this one.

[2018-12-04 23:18] #102 closed

[2018-12-06 17:16] Bkblodget commented on #95
Moved from priority 3 to priority 4

[2018-12-07 17:12] BryanEliDimas commented on #94
Added a test plan.

[2018-12-07 17:12] BryanEliDimas commented on #94
@reedstrm This PR is ready to merge.

[2018-12-07 19:51] Bkblodget opened #103 "Clean up error messaging"
This references issues #98 & #99.

Error messaging needs to be more clear for users.

1. @Bkblodget to get list of current error messages frm developers
2. @Bkblodget to coordinate with QA to write better messaging
3. Developers switch out messaging

[2018-12-07 19:52] Bkblodget commented on #99
This will be resolved in issue #103

[2018-12-07 19:52] #99 closed

[2018-12-07 19:52] Bkblodget commented on #98
This will be resolved in issue #103

[2018-12-07 19:52] #98 closed

[2018-12-07 20:10] Bkblodget opened #104 "Retrieve more specific collection versions"
## Description

As a CM, I want to retrieve a specific minor version of a collection (_ex_: col23456_1.9.3 instead of just col23456_1.9), so that I can access older publications of the same minor version and not only have the ability to retrieve the latest version of the third value.

## Acceptance Criteria

When defining the collection number and version in a `neb get` command, a user should have

[2018-12-17 20:08] omehes commented on #92
Verified on staging:
No traceback (as seen above) - OK
progress bar showing download progress to /tmp/mytest - OK
content checked out to given location - OK

{"date": "2018-12-10 18:03:25 CST",
 "webview": "9afc493b8f9c2fee608555a680fccda15d57d569 (v0.43.0)",
 "cnx-archive": "4.7.0",
 "cnx-publishing": "0.14.1",
 "oer.exports": "xiao.xiao v0.68.0",
 "press": "7.2.0",
 "cnx-deploy": "v2.33.1"
}

[2018-12-17 21:46] Bkblodget commented on #92
since this isn't really meant for users and instead for testing I will leave the expected behavior of this command up to the discretion of devs (cc: @bryaneli @reedstrm @mulich)

[2018-12-20 17:51] BryanEliDimas opened #107 "Write integration tests"
Since improving developers' workflow is a major priority for the team in Q1, and refactoring is part of that, writing integration tests needs to happen beforehand... to make sure that behavior does not change during/after refactoring.

[2018-12-27 21:53] pumazi opened #108 "Can't publish due to a formatting issue in the .sha1sum file"
I'm getting the following error during publish:

[code]

This basically boils down to the `.sha1sum` file you've written not matching up with the read code.

[code]

AFAICT it's the difference of a space vs double space (` ` vs `  `) on write vs read.

[2019-01-03 16:37] Bkblodget commented on #90
@Bkblodget to test this on QA and Staging

[2019-01-07 17:04] BryanEliDimas commented on #84
@omehes This is ready for QA testing. It's no longer blocked.

[2019-01-09 17:31] pumazi commented on #108
Fixed in https://github.com/openstax/nebuchadnezzar/pull/111

[2019-01-09 17:31] #108 closed

[2019-01-14 21:15] omehes commented on #94
Verified on staging on neb 8.0.4:

1. neb get the latest collection.
2. Changed only 1 module
Expected: neb to output 1 file(s) have been added or modified... before validation and/or publishing occurs.
RESULT:
Ottos-MacBook-Pro:nebuchad om9$ neb publish staging col26069_1.4.13
Publication message: ssde
Username: zumi
Password:
150 file(s) have been added or modified.
Publishing response:
[{'id':

[2019-01-14 21:23] reedstrm commented on #92
Note that this works, but it doesn't quite match the plan as described: if the directory already exists (as above: `mkdir /tmp/mytest; neb get --output-dir /tmp/mytest staging col12345 1.5` you get an error about existing directory. This basically has been made more consistent with the non-`--output-dir` case, where the command creates the dir.

[2019-01-14 21:40] omehes commented on #92
@m1yag1 Verified this manually on staging and discussed with @reedstrm. Since this was open by you, I am passing this to you to close or comment.

Expected results:
No traceback (as seen above) - OK
progress bar showing download progress to /tmp/mytest - OK
content checked out to given location.if dir exists, error message - OK

{"date": "2019-01-11 15:20:09 CST",
 "webview": "65e33ad4775417bd5dfc

[2019-01-15 16:33] brittweinstein commented on #92
@m1yag1 could you verify and close?

[2019-01-15 16:58] omehes commented on #92
verified. fixed

[2019-01-15 16:58] #92 closed

[2019-01-15 17:35] Bkblodget opened #114 "BUG: Batch Collection Tree"
Small corner case of when an introduction module is named Introduction of (words) instead of just "Introduction", the collection tree assigns the numbering as 01 instead of 00 which does not match webview. Examples below:

Intermediate Algebra on webview (ch.6 introduction):
![Screen Shot 2019-01-15 at 11.30.36 AM.png](https://images.zenhubusercontent.com/5b572db8a74e9a33056ecb3c/77419115-f4eb-474

[2019-01-15 17:36] #90 closed

[2019-01-23 19:27] reedstrm opened #117 "Provide a way to fetch resources, as well as primary content XML, when getting a book"
Provide a means for textbook devs and content managers to fetch all the resources (content, converted HTML) for a given book.

## PRs
#115
#120

## Test Plan
This code provides a new optional switch to `neb get` `-r` or `--resources`
1. Verify version of neb:
[code]
2. Verify presence of option:
`neb get --help`
Should produce:
[code]
3. Fetch some book, using `-r` option:
`$ neb get -r staging co

[2019-01-23 19:59] BryanEliDimas commented on #117
PR merged. Moved to Needs test plan. Assigning to Ross.

[2019-01-24 15:48] brittweinstein commented on #104
@omehes could you review the test plan in the descriptions above? If this is OK, please move over to testing.

[2019-01-24 15:48] brittweinstein commented on #117
@reedstrm this needs test plan please

[2019-01-24 15:54] brittweinstein commented on #107
@Bkblodget @BryanEliDimas could you put an estimate on here please

[2019-01-24 21:55] omehes commented on #104
Verified on latest neb 9.0.0 getting collections from staging.
neb get staging coll11760 1.5.x and 1.4.x

Scenarious:
the latest version: 1.X.Y - ok
An earlier major version: 1.(X-1) (will retrieve 1.(x-1).(max(y) - ok
An earlier minor version: 1.X.(Y-1) - ok
A non-existent minor version: 1.X.(Y+1) - ok
An earlier major and minor: 1.(X-1).(Y'-1) - ok
An earlier major with non-existent minor 1.(X-1

[2019-01-25 12:41] BryanEliDimas commented on #107
@brittweinstein @Bkblodget Sure. Done, I'd say it's an 8.

[2019-01-25 14:52] pumazi commented on #107
You'll want to be aware of https://github.com/openstax/cnx-automation/pull/131, which is Dante's work on making `neb publish ...` testable. I have rebased this branch and I'll try to get another WIP PR up somewhere. Other yak shaving tasks got in the say of making this available. Please feel free to poke me about this and take over the branch. 🥂

[2019-01-28 21:18] #104 closed

[2019-01-28 21:31] Bkblodget opened #118 "UTF-8 Encoding and Module versioning"
## Overview
The below work is needed in order for the *Only send content that has changed* work to be "visible" to users. Write now the UTF-8 encoding causes module version numbers to rev regardless of whether actual content changes were made, so these modules end up getting sent over as changed making the *only send content that has changed* code ineffective.

As a content manager after a `neb ge

[2019-01-29 12:47] BryanEliDimas opened #119 "[skipci] WIP: Create collection HTML (aka single html) from module HTML files"
@BryanEliDimas commented on [Thu Jan 24 2019](https://github.com/openstax/cnx-epub/pull/140)

# Description
This is a work in progress. Run the code in this PR with `python3 setup.py test -s cnxepub.tests.test_assembler.AssembleSingleHTMLTestCase.test_parse_into_a_tree`

# Issue
https://github.com/openstax/baked-pdf/issues/41

[2019-01-29 16:46] Bkblodget commented on #95
closing - user no longer needs

[2019-01-29 16:46] #95 closed

[2019-01-30 16:49] reedstrm commented on #117
While adding the test plan above, I realized we may have a problem. As written, this code downloads all the images, _but also_ the `index.cnxml.html` file. This is different than what legacy does, and _may_ in fact, get in the way in publishing (we had a similar issue from legacy some time ago, and I just tripped over it w/ moving content to devb). At minimum, it'll clutter atom tree display, and

[2019-01-30 23:43] BryanEliDimas commented on #117
@reedstrm Ah, excellent test plan! 💯 It's next level good :). I approved the PR but I made a couple suggestions. Feel free to make the changes or ship it otherwise.

[2019-01-31 19:56] BryanEliDimas opened #121 "CLI - Assemble module HTML files into a single HTML file"
@edwoodward commented on [Thu Dec 20 2018](https://github.com/openstax/baked-pdf/issues/41)

# Description

Given module HTML files, assemble them into a single HTML file.

# Technical Notes
- To create an EPUB from the module HTML files + the collxml file (which has the book structure), use the models located in [cnxepub/models.py#L376](https://github.com/Connexions/cnx-epub/blob/51096c21f1f492be

[2019-01-31 19:57] BryanEliDimas commented on #121
Moved this issue to Neb as that is where my code for this will live.

[2019-01-31 20:54] BryanEliDimas commented on #121
PR created. Requested code review from @karenc.
cc: @edwoodward @brittweinstein

[2019-02-01 21:53] BryanEliDimas commented on #118
NOTE. From Ross: Just generate the sha1sum **after** utf8 encoding.

[2019-02-05 21:13] omehes commented on #117
verified on various books and above steps. looks good.
neb 9.0.1

[2019-02-05 21:13] #117 closed

[2019-02-07 18:38] brittweinstein commented on #121
@karenc @BryanEliDimas please put points estimate on this.

[2019-02-08 16:10] karenc commented on #121
@brittweinstein My estimate is 8 points.

[2019-02-08 16:45] BryanEliDimas commented on #121
8 sounds good, I think that's accurate.

[2019-02-11 14:19] omehes opened #123 "Neb publish changes major version number"
Steps:
1. neb get a collection, for example col11992
2. in Atom in one of the modules, change text and delete an image file
3. save changes
4. neb publish the collection
Expected result: Collection version number changed its minor
Actual: Major version number changed. See screen shot.

Discussed with @BryanEliDimas

![Astron_MinorMajor.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e

[2019-02-11 14:20] omehes commented on #123
Notes from @BryanEliDimas :

Discussed with @Ottó – it seems like what’s happening is: because one module changed, it was revved. And then the result from the code which detects if a module was added or removed incorrectly resulted in `true`, which then causes a major version rev – when it shouldn’t. (edited)

FYI + Note to self:
The fix is *probably* to delete one line of code (:face_with_rolling

[2019-02-11 17:54] omehes commented on #94
Reverified on neb 9.0.1 - fixed.

[2019-02-11 17:54] #94 closed

[2019-02-15 08:49] omehes opened #125 "neb get/publish (Astronomy, Prealgebra, etc): unnumbered chapter gets numbered and shifts the chapter numbering"
Steps:
1. neb get -r staging col26723 latest (Derived copy of Astronomy)
2. in Atom check the chapters and image files
Actual result: the previously unnumbered chapter 'Thinking Ahead' gets numbered. This causes the chapter numbers to be shifted
3. neb publish staging col26273_1.x.y
4. check the newly published copy in webview and pdf
Actual result: All chapter numbers are shifted in the newly pub

[2019-02-15 14:15] reedstrm commented on #123
re: note to self - it's appropriate to consider the _module_ to have changed, but  that's a minor rev for the collection, by the business logic, no?

[2019-02-15 16:50] Bkblodget commented on #125
This bug is exclusive to pre-baking:

per @omehes : after publish the numbering returns to correct state. It just takes few minutes for it to appear correctly. So if I check the book within those 3-4 minutes after  publish, the book has shifted chapter numbering. When that period passes, after refresh it shows up correctly.

[2019-02-19 15:06] Bkblodget commented on #125
I believe the fix for this will also fix #114

[2019-02-19 15:07] Bkblodget commented on #114
closing because the fix for this will be covered in #125

[2019-02-19 15:07] #114 closed

[2019-02-19 17:52] BryanEliDimas commented on #121
It's been decided that the assembler needs to be able to find modules in a folder with a different structure than I've hard-coded: `mod_loc = source_dir / module_id / 'index.cnxml.html'`. Or in other words, I'm currently working on Ross' suggestion:

[2019-02-21 21:31] pumazi opened #127 "WIP Refactoring Assembler as a series of independent functions and classes"
# Overview

The nature of the `nebu.bakedpdf.assembler` is a little odd. It's been written this as a function that utilizes a bunch of internal functions. This is going to make tracebacks hard to follow. Also, unit testing this is difficult because you essentially need a full use-case for all corner cases.

## Suggested Resolution

Here is my suggestion:

[code]

The `Adapter` class can be created

[2019-02-21 21:39] pumazi opened #128 "The images do not display in the single-html output"
# Overview

Images are not shown in the viewable results of the single html file. (At the time of this writing this has no UI, but can be invoked via `nebu.bakedpdf:assembler`.) The images are available, but the `href` in the html does not point to the correct location on the file system.

# Exit Criteria
- The `href` value accurately points to the relatively location of the file on the file syste

[2019-02-22 17:34] BryanEliDimas commented on #121
# Notes from a meeting I had with @karenc:

Before our meeting, I had several questions about what we’re working on, and I even felt like I knew nothing beyond what I was working on, even though @edwoodward had already explained to me, I felt like @karenc was working on something different or something. Most importantly perhaps, I didn’t know where my code would fit in the grand scheme of this. An

[2019-02-22 20:43] brittweinstein commented on #48
CLOSING. If this presents itself as an issue again, we will reopen.

[2019-02-22 20:43] #48 closed

[2019-02-22 20:46] brittweinstein commented on #69
CLOSING. If this presents itself as an issue again, we will reopen.

[2019-02-22 20:46] #69 closed

[2019-02-26 14:14] karenc opened #129 "Unable to download using neb get"
When running `neb get` to download a collection from staging, I get `http.client.RemoteDisconnected` error:

[code]

OS: Ubuntu 18.04.1
Python version: 3.6.7

Package versions: (pip freeze output)
[code]

[2019-02-26 14:17] karenc commented on #129
This isn't a neb specific problem.  I have the same problem when using `requests` directly:

[code]

[2019-02-27 22:36] helenemccarron commented on #121
@BryanEliDimas Looks good! I have a couple of questions/thoughts:

First: this might not be something you can answer right now but you list `Algebra/recipe.css`, how is the recipe fetched (or placed in the same folder)? Right now, both the recipe and the style for each book live in subfolders in recipes (https://github.com/openstax/cnx-recipes/tree/master/recipes/output and https://github.com/open

[2019-02-28 08:11] karenc commented on #121
@helenemccarron I didn't explain to @BryanEliDimas the details of where the recipe comes from but we're not downloading the recipe, it will be a command line argument to a local file when you run `neb bake`.  (Alternatively, if the user isn't developing a recipe, they can specify a recipe in the [cnx-recipes](https://github.com/openstax/cnx-recipes) repo? :thinking:)

There'll be an option to add

[2019-03-01 21:36] BryanEliDimas commented on #121
Helene has brought up some concerns up to me about the placeholder for modules which cannot be found in the source directory and the titles for chapters which always shows regardless if all of its modules exist in the source dir or not. She thinks that it might break the recipes and she thinks that it might not be necessary to even show a warning that some of the modules are missing, either. We pl

[2019-03-01 21:45] BryanEliDimas commented on #121
@brittweinstein I just changed the points estimate from 8 to 13 because the scope/requirements grew as I discovered how involved this step is. It required tight collaboration with Karen and Helene as well. We made a lot of discoveries and a lot of design decisions. I think also, as a result, the bulk of this whole BakedPDF pipeline is mostly done.

[2019-03-11 20:28] #49 closed

[2019-03-19 01:04] pumazi commented on #129
I have officially run into this issue. It only happened once while I was `neb get`'ing in another terminal window.

[2019-03-22 16:42] karenc commented on #129
This could be regional.  I've tested this on 2 different machines at home and they both gave the same error.  I've tried this on a server in Germany, same error.  When trying this on qa00.cnx.org, it works with the system python 3.5:

[code]

[2019-03-22 18:15] pumazi commented on #129
I ran into this again. I suspect it is regional as well. I'm also wondering if there could be a deeper networking issues here that involves more than just Nebuchadnezzar. But I have no way to prove this... If we ran the cnx-automation tests from a remote location, that might give us an indication. CC @m1yag1

[2019-03-25 13:13] m1yag1 commented on #129
they currently run in travis and seem to be working (probably b/c US servers). Getting them up and going on another server in Europe should be straightforward as we push up our docker images. you should be able to do.

`docker pull openstax/cnx-automation`
`docker run --rm openstax/cnx-automation pytest -m neb --neb_env staging`

[2019-03-28 00:10] pumazi commented on #129
Testing for this is covered by cnx-automation. But feel free to ask questions. It's going to be difficult to test this unless you are overseas or experiencing a slow connection.

[2019-03-28 15:28] omehes commented on #129
I did many neb get downloads of various collections on qa and staging and prod but couldn't repro this issue.

[2019-03-29 16:35] omehes commented on #129
retried again on neb 9.1.0b4
neb get -r -t staging... various books
cannot reproduce

[2019-03-29 16:35] #129 closed

[2019-05-13 14:49] therealmarv commented on #129
Just ran into this issue today too. It is fixed in newer neb versions >=9.1.0 (unreleased when writing this text). Force installing `pip install nebuchadnezzar==9.1.0b6` worked out for me.

I will leave this issue closed.